<div class="container">
    <div class="row">

        <div class="col-sm-3 box box1"></div>
        <div class="col-sm-9 box box2"><h1>WHO ARE WE?</h1></div>

        <div class="col-sm-6 box box1"></div>
        <div class="col-sm-6 box box2"><h2>THE BEST <b>TOURIST AGENCY!</b></h2></div>

        <div class="col-sm-9 box box1"></div>
        <div class="col-sm-3 box box2"><h3><b>+50 EMPLOYES</b> which help you </h3></div>

        <div class="col-sm-12 box box1"></div>

        <div class="col-sm-3 box box2"><h3>BASED IN <b>VIENNA</b></h3></div>
        <div class="col-sm-9 box box1"></div>

        <div class="col-sm-6 box box2"><h3>MORE THAN <b>+500 CUSTOMER/MONTH</b></h3></div>
        <div class="col-sm-6 box box1"></div>
        
        <div class="col-sm-9 box box2"><h3>TRAVEL TO MAKE MEMORIES <b>ALL AROUND THE WORLD</b></h3></div>
        <div class="col-sm-3 box box1"></div>

        <div class="col-sm-12 box box2"><img src="assets/PapLogo.svg" height="40" alt="" loading="lazy"></div>
    </div>
</div>