<footer class="page-footer font-small">
  <div class="container">
    <div class="row row-cols-6">
      <div class="col">
            <i class="fab fa-facebook-f fa-lg white-text mr-md-5 mr-3 fa-2x"></i>
      </div>
      <div class="col">
          <i class="fab fa-twitter fa-lg white-text mr-md-5 mr-3 fa-2x"></i>
      </div>
      <div class="col">
          <i class="fab fa-google-plus-g fa-lg white-text mr-md-5 mr-3 fa-2x"></i>
      </div>
      <div class="col">
          <i class="fab fa-linkedin-in fa-lg white-text mr-md-5 mr-3 fa-2x"></i>
      </div>
      <div class="col">
          <i class="fab fa-pinterest fa-lg white-text fa-2x"></i>
      </div>
      <div class="col">
        <i class="fab fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x"></i>
      </div>
    </div>
  </div>
  <div class="footer-copyright text-center text-white mt-4">© 2020 Copyright:
    <a class="text-white" routerLink="/"> Andrey-PatrickF-Paul</a>
  </div>
</footer>