<div class="container-fluid text-light" id="rowContainer">

<h1 class="text-center">What makes us different</h1>

<div class="row row-cols-3 text-center container" id="rowUp">

	<div class="card text-white bg-info mb-3 text-center" style="max-width: 18rem;">
  <div class="card-header">{{card1title}}</div>
  <div class="card-body">
    <h5 class="card-title">Info card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>

	<div class="card text-white bg-info mb-3 text-center" style="max-width: 18rem;">
  <div class="card-header">{{card2title}}</div>
  <div class="card-body">
    <h5 class="card-title">Info card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>

	<div class="card text-white bg-info mb-3 text-center" style="max-width: 18rem;">
  <div class="card-header">{{card3title}}</div>
  <div class="card-body">
    <h5 class="card-title">Info card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>

</div>

<h1 class="text-center">Last Minute Offers</h1>

<div class="row row-cols-2 text-center container" id="rowUp">



<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="assets/img1.webp" alt="Card image cap">
  <div class="card-body">
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
	</div>
 </div>
 <div class="card" style="width: 18rem;">
  <img class="card-img-top" src="assets/img2.webp" alt="Card image cap">
  <div class="card-body">
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
	</div>
 </div>
 <div class="card" style="width: 18rem;">
  <img class="card-img-top" src="assets/img3.webp" alt="Card image cap">
  <div class="card-body">
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
	</div>
 </div>
 <div class="card" style="width: 18rem;">
  <img class="card-img-top" src="assets/img4.webp" alt="Card image cap">
  <div class="card-body">
    <p class="card-text">Zakintos</p>
	</div>
 </div>
</div>
</div>

